.footer {
    background-color: #fff;
}

.footer .container img{
    width: 60px;
    height: 60px;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
}