.header {
    position: fixed;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    color: rgb(194, 173, 135);
}
.header .container {
    margin: 0 auto; 
    display: flex;
    justify-content: space-around;
    position: relative;
}

.phones {
    margin: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    a:hover {
      color: rgb(194, 173, 135);
     }
}

.phones a {
    margin-bottom: 1em;

}

.header img {
    background-color: #fff;
 }

.logo_text {
    position:absolute;
    top: 40px;
    left: 20px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight:bold ;
}