.navigation{
    display: flex;
    align-items: center;
     a:hover {
        color: #D46240;

      }
}

.sub_menu {
    display: none;
}

.nav_items {
    display: flex;
}

.nav_item {
    min-width: 10em;
    text-align: center;
    margin-right: 30px;
    p {
        margin: 0;
    }
}


.sub_menu a {

}

.nav_item p {
    text-transform: uppercase;
}