.navigation{
    display: flex;
    align-items: center;
     p:hover {
        color: rgb(194, 173, 135);
      }
}

.sub_menu {
    display: none;
}

.nav_items {
    display: flex;
}

.nav_item {
    min-width: 10em;
    text-align: center;
    margin-right: 30px;
    list-style: none;

    p {
        margin: 0;
        text-transform: uppercase;
    }

}