.price {
    margin-top: 220px;
}

  .law {
    // display: none;
  }

  .counter {
    //   display: none;
  }

.price table {
    width: 100%;
    // display: flex;
    border-spacing: 0;
    border-collapse:collapse ;
    border: 4px solid #c3bfbf;
}

  .price tr {
      text-align: center;       
  }

  .price .first_column {
    text-align: left;
  }

  .price td {
    
    color: black;
    padding: 0 20px 0 10px;
    border: 4px solid #c3bfbf;
       
}
