.promo {
    // background-color: rgb(226, 198, 198);
}
.article_info {
    display: flex;
}

.services_icon {
    width:20%
}

.services_texts {
    margin: 0;
    padding-left: 30px;
}

.table {
    margin-top: 10px;
    width: 100%;
}
