.promo {
    // position: fixed;
    // left: -41%;
    // left: 0;
    // top: 13%;
    background-color: rgba(00, 00, 00, .3) ;
    // background-color: rgba(182, 101, 158, 0.4) ;
    color: white;
}

// .promo .btn{
// position: absolute;
// left: 95%;
// .promo .btn:checked .service-info-visible {
// display: none;
// }
// }

.article_info {
    display: flex;
}

.services_icon {
    width:20%
}

.services_texts {
    margin: 0;
    padding-left: 30px;
}

.table {
    margin-top: 10px;
    width: 100%;
}


.service-info {
    display: none;
    width: 100%;
}
  
.service-info-visible {
    display: block;
    width: 100%;
}

.description {
    padding-bottom: 30px;
}