.promo {
    background-color: rgba(00, 00, 00, .3) ;
    color: white;
}

.article_info {
    display: flex;
}

.services_icon {
    width:20%
}

.services_texts {
    margin: 0;
    padding-left: 30px;
}

.table {
    margin-top: 10px;
    width: 100%;
}


.service-info {
    display: none;
    width: 100%;
}
  
.service-info-visible {
    display: block;
    width: 100%;
}

.description {
    padding-bottom: 30px;
}

.promo td {
color: rgb(66, 105, 233);
font-weight: 600;
font-size: 24px;
}