.quality .container {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.quality p {
    margin-right: 0;
    width: 90%;
    font-size: 14px;
    text-align: left;
    padding-left: 10%;
}

.quality .h4 {
    margin:  10px 0 2px 0;
}

.quality_box {
    // display: flex;
    // flex-direction: column;
    width: 25%;
    text-align: center;
}

.quality_box img {
    margin: 0 auto;
}

.quality strong {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: rgb(49, 59, 200);
  }