.services .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 150px 0;
}

.services_box {
    width: 47%;
    margin: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 10px solid linear-gradient( to right, rgba(15, 11, 32, 0.95), rgba(221, 200, 211, 0.1));
    border-radius: 10px;
    li {
        list-style: none;
      }
}

.services_bgr {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.service-info {
    display: none;
}
  
.service-info-visible {
    display: block;
}

.service-links{
    padding: 0;

    li {
        padding-left: 7em;
    }
}

.service-links .active {
    color: red;
}

.services h2 {
    text-align: center;
}