* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(228, 223, 220);
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }

  // h1 {
  //   color: rgb(219, 211, 211);
  //   font-size: 28px;

  // }

  .h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: black;
  }

  .h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: black;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: black;
  }

  a {
     text-decoration: none; 
     color: black;
     font-size: 18px;
  }

  ul {
    font-size: 18px;
  }

  td {
    max-width: 48%;
    font-size: 25px;
    color: rgb(231, 43, 43);
    font-weight: normal;
    padding-left: 5%;
  }