* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: rgb(228, 223, 220);
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
  }


  img {
    /* Что бы пропала "полоска" под изображением */
    display: block;
    max-width: 100%;
  }

  .h2 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    color: black;
  }

  .h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 30px;
    color: black;
  }

  .h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    color: rgb(74, 143, 202) ;
  }

  p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: black;
  }

  a {
     text-decoration: none; 
     color: black;
     font-size: 18px;
  }

  ul {
    font-size: 18px;
  }

  td {
    max-width: 48%;
    font-size: 18px;
    color: rgb(231, 43, 43);
    font-weight: normal;
    padding-left: 5%;
  }

  .back_btn {
    position: fixed;
    top: 90%;
    left: 50px;
    width: 100px;
    height: 50px;
    border: 0.5px solid rgba(243, 14, 132, 0.1);
    box-shadow: 0 0 120px rgba(182, 101, 158, .9);
    border-radius: 44px;
    background-color: rgb(228, 223, 220);
    z-index: 10000;

  }

  .triangle_form {
    position: absolute;
    top: -35px;
    left: 10px;
    width: 0;
    height: 0;
    border-width: 40px;
    border-style: solid;
    border-color: transparent transparent rgba(243, 14, 132, 0.1) transparent;
    box-sizing: content-box;
   
  }

  .back_btn span {
    position: absolute;
    top: 48px;
    left: -45px;
    color: rgba(243, 14, 132, 0.1);
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 700;
  }