* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .h1 {
    color: rgb(219, 211, 211);
    font-size: 28px;

  }

  .h2 {

  }

  .h3 {

  }

  p {

  }

  a {
     text-decoration: none; 
     color: black;
  }

  ul {

  }

  li {
    list-style: none;
  }